/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/node_modules/
/.publish/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
package-lock.json
.rebel_readline_history
